
/*https://color.adobe.com/beach-color-theme-4537521/
*/

/*

#2E3140
#118C8C
#91D9BF
#DCF2E4
#D95436

*/

code {
  display: inline;
}

#jumbexampleeditor{
  height:550px;
}


.cover-thing {
    width: 100%;
    min-height: 100vh;
    float: left;
    background-size: cover;
}


pre b {
  color:#9C0C20;
}

pre {
  background-color: #FEFFF6;
}

.navbar{
  background-color: #2E3140;
}

.jumbCont{

  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #9BC0D0;
}
.feat{
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #9BC0D0;

  min-height: 50px;
}

.result{
    border:1px dashed #EEE;
    padding:15px;
}

.result div{
    border:1px solid #DDD;
    padding:15px;
}

.result span{
    border:1px solid #C3D0DE;
    padding:15px;
}

.resultJumbo{
    border:1px solid #118C8C;
    padding:15px;
    margin-bottom: 100px;
}
.resultJumbo div{
    padding:15px;
}

.resultJumbo span{
    border:1px solid #C3D0DE;
    padding:15px;
}

#liveresult .forCont {
  padding:1px;
}

#liveresult span {
  padding:0px;
  border:none;
}
#liveresult input {
  margin-bottom:5px;
  font-size: 20px;
  height:35px;
  width:250px;
}
#liveresult .close {
  color:#118C8C;
  opacity: 1;
}

#liveresult .taskDom {
  border:1px solid #118C8C;
  padding:15px;
  border-radius: 3px;
  margin-bottom: 5px;
}
#liveresult{
  background-color:#DCF2E4;
  color:#118C8C;
}
.feature-col{
  border-radius: 5px;
  margin-bottom: 10px;
}

section {
    margin-top:150px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;

  background: #0b8793;
  color:#CDFBFF;
}

.footer a{
  color:#CDFBFF;
  text-decoration: underline;
}

.nl0{
  opacity: 1;
}

.nl1{
    color:#D95436;
    opacity: 1;
}
.nl2{
    opacity: 1;
}

.lead span{
  font-weight: bold;
  color:#FFCB00;
}




.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.header-title{
    color:#FFF;
    font-weight: normal;
    margin-bottom: 30px;
    font-size:30px;
}

.header-feature{
    margin-bottom: 20px;
    padding:10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
       -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
            transition: color 0.1s ease-in, background 0.1s ease-in;
}


/*.header-feature:hover{
    background-color:rgba(0,0,0,0.1);

}*/

.header-feature .title{
}
.header-feature .number{
    width:30px;
    height:30px;
    border-radius:15px;
    font-size:20px;
    text-align:center;
    border:1px solid #888;
    float: left;
}

.header-feature .title .title-text{
    font-size:25px;
    margin-left:5px;
}
